# SPDX-FileCopyrightText: 2026 UNSW
#
# SPDX-License-Identifier: BSD-2-Clause

---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

ContinuationIndentWidth: 4

BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

BreakBeforeBraces: Linux

PointerAlignment: Right

SpaceBeforeParens: ControlStatements

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

SortIncludes: Never

IndentPPDirectives: None
